<div class="modal fade" tabindex="-1" [id]="'deletemodal_' + this.transaction!.id" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><fa-icon [icon]="faExclamationTriangle" /> Waarschuwing!</h5>
			</div>
			<div class="modal-body d-flex flex-column">
				<span
					>Je staat op het punt om de transactie met ID {{ this.transaction!.id }} uit de database te
					verwijderen.</span
				>
				<span class="text-danger fw-semibold">Dit kan NIET ongedaan worden.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					<fa-icon [icon]="faStopCircle" />
				</button>
				<button type="button" class="btn btn-danger" (click)="deleteAction()" data-bs-dismiss="modal">
					<fa-icon [icon]="faTrash" />
				</button>
			</div>
		</div>
	</div>
</div>
